body{
    padding-top:10em;
    background-color: #34495E !important;
    color: #17202A; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    animation-name: bg-page;
    animation-duration: 3s;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

@keyframes bg-page {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
}
 
 @media (min-width:992px){
     body{
         padding: 3em;
    }
}

#about{
    background-color: #34495E;
    box-shadow: none;
}

#payamd-logo{
    text-align: end;
}

#payamd-logo img {
    width: 125px;
    
}

#home-link {
    display: none;
    
    font-size: 1em;
    padding: 0;
}

#home-link a{
    padding: 0.3em;
    color: #D6DBDF;
}

h1,h2,h3,h4,h5,h6{    
    font-family: 'Ubuntu', sans-serif; 
    font-weight:900;
    color:#222; 
    opacity: 1;
}

h1{
    color:#111;
    opacity: 1; 
     font-size:4em;
     line-height:2em; 
     font-weight: 900;
     font-family: 'Ubuntu', sans-serif; 
}

h2{
    padding: 0.75em;
    font-family: 'Ubuntu', sans-serif; 
    color: #30638e;
    font-weight: 900;
    font-size:2em; 
    text-transform: uppercase;
}

h3{
    padding-left: 1em;
    opacity: 0.75;
    font-size:1em; 
    line-height:2.5em;
    text-transform: uppercase;
}

.subheading{
    margin-left: 2.5px;  
    font-weight:900;
    font-size:0.8em; 
    color: #17202A;
    text-transform: uppercase;
}

#link-sub-2 a{
    padding: .25em;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif; 
    opacity: 0.8;
    font-weight: 100;
    text-transform: uppercase;
}

#link-sub-2 a:hover{
    opacity: 1;
}

 .social-icons a{
     display:inline-block;
     height:2.75rem;
     width:2.75rem;
     background: transparent;
     border-radius:100%; 
     text-align:center;
     font-size:1.25rem; 
     line-height:3rem;
     margin-right:0rem;
}
 
.social-icons a:last-child{
     margin-right:1rem
}

.social-icons a:hover{
     opacity: 1; 
     transition: .5s; 
}

.dev-icons{
    font-size:3rem;
    visibility: visible;
}

.dev-icons .list-inline-item i:hover{  
    transition: .5s; 
} 

.nav-link{display:block; padding-top: 2em; padding-bottom: 2em;}

section.resume-section{
    background-color: #FDFEFE;
    border-radius: 5px; 
    max-width: 992px;
    margin: auto;
}
    
section.resume-section .resume-item .resume-date{min-width:none}
section.resume-section .resume-item { 
    border-radius: 5px; 
    background-color: #EBF5FB;
    margin: 5px;
}

.proj{
    padding: 1em;
}

.resume-date {
    opacity: 0.5;
    z-index: 2;
    padding: 1em;
}

section.resume-section .resume-item:hover {
    transition: 0.5s;    
    box-shadow: 1px 1px 5px #D6DBDF;
}

.nav-item img{
    opacity: 0.6;
}

@media(max-width: 992px){ 
    section.resume-section{
        min-height:max-content;
        margin: 10px;
    }
}

@media(max-width: 520px){

    #home-link {
        display: block;
        position: relative;
    }

    #payamd-logo{
        display: none;
    }

    #small-portfolio{
        display: none;
    }

    .navbar {
        min-width: 100%!important; 
    }

    #sideNav .navbar-nav .nav-item .nav-link , .nav-logo, h2{ 
        text-align: center;
    }
    section.resume-section{
        min-height:max-content;
        margin: 5px;
    }
} 



@media (min-width:768px){
    section.resume-section{
        min-height:max-content;
        margin: 10px;
    }

}

@media (min-width:992px){
    section.resume-section{padding-top:2em!important;padding-bottom:3em!important; margin: auto;} 
}

.bg-primary{  
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.text-primary{ 
    font-size: 0.85em;
    color: #5499C7 !important;
    text-transform: capitalize; 
    text-decoration: none;
    padding: 10px;
}

a{
    color:#17202A; 
    font-weight: 500;
    opacity: 0.8; 
    text-decoration: none; 
    text-transform: uppercase;
}

a:active,a:focus,a:hover{ 
    color:#17202A; 
    opacity: 1;
    text-emphasis: none; 
    text-decoration: none; 
    transition: 0.5s; 
}
  
.link-item{
     margin-right: 2em;
     margin-top: 1em;
     margin-left: 0.5em;
}

.link-item p {
     padding-left: 5px;
     margin-bottom: 1px;
     font-size: 0.9em;
     opacity: 0.8;
}

p{
    padding-left: 1em;
     opacity: 0.8;
     font-size: 0.8em;
	 font-family: 'Syne', sans-serif;
}

.fullName{
   text-align: left;
   line-height: 1em;
   color: #34495E;
   font-family: 'Ubuntu', sans-serif; 
   font-weight: 900;
   position: relative;
   animation-name: my-name;
   animation-duration: 3s;  
   animation-fill-mode: forwards;
}

 @keyframes my-name {
    from {opacity: 0; font-size: 20em;}
    to {opacity: 1; font-size: 5em;}
}

.sub-name{
    text-align: left;
    color: #f77f00;
    opacity: 0.9;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    animation-name: my-sub-name;
    animation-duration: 3s;  
    animation-fill-mode: backwards;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 1.75em;
}

.iama{
    font-size: 2em;
    color: #f3f5f8;
}
 
.job-description{
     padding-left: 20px;
}

.resume-content {
     padding: 20px;
}

.school-description{
    padding-left: 20px;
}

.skill-set{
    padding-left: 20px;
}

.skill-set p{
    padding-left: 20px;
    
}
.skill-set h3{
    line-height: 1.5em;    
}

#awards li {
    padding: -2px;
}

.web-links{
    padding-top: 10px;
    padding-left: 5px;
    font-size: 0.9rem;
}
.web-links a{
    padding-right: 20px;
}

hr{
    background: transparent;
    border: none;   
}

.side-logo {
    position: relative;
    margin-bottom: 0;
    text-align: right;
    padding-right: 3em;
    animation-name: tu-logo;
    animation-duration: 3s;  
    animation-fill-mode: backwards;  
    padding: 0.5em;  
   
}

@keyframes tu-logo {
    from {top: -150px; opacity: 0;}
    to {top: 0px; opacity: 1;}
  }

.side-logo img{
    width: 8em;
    padding: 0.5em;
    visibility: visible;
   
}

.member-link a{
    padding: 4em;
    opacity: 1;
}

.member-link img{
    padding-top: 50px;
    padding-bottom: 25px;
}

.member-link img:hover{
    transform: scale(1.05);
    transition: 1s;
}

.freelance-logo-bottom{
    opacity: 0.5;
    margin: 0 auto; 
}

.small-title{
    font-family: 'Syne', sans-serif;
    font-weight: 900;
    opacity: 0.9;
}
.skill-set h3{
    font-size: 1.25em;
}
.skill-set p {
    font-size: 0.9em;
    font-family: 'Syne', sans-serif;
    padding: 0.5em;
    padding-bottom: 1em;
}

.skill-set i{
   font-size: 3em;
   padding: 10px;
   line-height: 1.6em;
   border-radius: 3px;
   background-color: #EBF5FB;
   
}

.skill-set i:hover{
    transition: 0.3s;
    box-shadow: 1px 1px 1px #D6DBDF;

}

.skill-set .large{
    font-size: 3.5em;
}

.courses ul li a{
    font-size: 0.8em;
}

.copyright-link{ 
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Ubuntu', sans-serif; 
    color: #D6DBDF;
}

.copyright-link a {
    text-transform: lowercase;
    color: #FDFEFE;
}

.paper-details{
    padding-left: 15px;
    min-width: 50%;
}

.link-item img{
    width: 3em;
    opacity: 0.75;	
	-webkit-animation: rotate-hor-top 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	animation: rotate-hor-top 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

@-webkit-keyframes rotate-hor-top {
	0% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
	50% {
	  -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
			  transform: translateY(50%) rotateX(90deg) scale(2);
	  -webkit-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	}
	100% {
	  -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
			  transform: translateY(100%) rotateX(180deg) scale(1);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	}
  }
@keyframes rotate-hor-top {
	0% {
	  -webkit-transform: rotateX(0);
			  transform: rotateX(0);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	}
	100% {
	  -webkit-transform: rotateX(-360deg);
			  transform: rotateX(-360deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	}
  }

.ml3 {
    font-weight: 900;
}

 #small-portfolio{
    font-family: 'Ubuntu', sans-serif; 
     font-weight: 700;
     color: #D6DBDF;
     text-transform: uppercase;
     letter-spacing: 0.1em;
     padding-left: 5px;
 }

 #small-portfolio:hover{ 
    transition: 2s !important;
    opacity: 1 !important;
 }

 #resume-title{
    color: #ffd166;
    opacity: 0.9;
 }

#interests i{
    font-size: 1em;
}

#chev-up{
    display: none;
}

.fas{
    color: #FDFEFE;
    opacity: 0.6;
    display: block;
    font-size: 2em;
    animation: chev-anim 10s ease-in-out 2s infinite normal forwards;

}

.fas:hover{
    transition: 0.5s;
    opacity: 0.8;
}

@keyframes chev-anim {
	0%,
	100% {
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		transform: translateY(-2px);
	}

	20%,
	40%,
	60% {
		transform: translateY(2px);
	}

	80% {
		transform: translateY(1.6px);
	}

	90% {
		transform: translateY(-1.6px);
	}
}

  /* Styling scrollable elements */
  
  .scroll-element {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .scroll-element.scrolled {
    opacity: 1;
  }
  
  .scrolled.fade-in {
    animation: fade-in 2s ease-in-out both;
  }
  
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 2s ease-in-out both;
  }
  
  .scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
  }
  
  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }

  
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
      transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(200px);
      transform: translateY(200px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .scrolled.bounce-in {
    animation: bounce-in-top 1s ease 0s 1 normal forwards;
  }

  @keyframes bounce-in-top {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}


.scrolled.scale-in-back{
    animation: scale-in-bck 1s ease 0s 1 normal forwards;
}

@keyframes scale-in-bck {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

.scrolled.scale-in-forward{
    animation: scale-in-fwd 2s ease 0s 1 normal forwards;
}

@keyframes scale-in-fwd {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.scrolled.swirl-in-forward {
    animation: swirl-in-fwd 1s ease 0s 1 normal forwards;
}

@keyframes swirl-in-fwd {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}

.scrolled.swirl-in-back {
    animation: swirl-in-bck 0.5s ease 0s 1 normal forwards;
}

@keyframes swirl-in-bck {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}

.slide-in-elliptic-bottom-bck {
	animation: slide-in-elliptic-bottom-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-elliptic-bottom-bck {
    0% {
      transform: translateY(600px) rotateX(-30deg) scale(6.5);
      transform-origin: 50% -100%;
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 500px;
      opacity: 1;
    }
  }
