@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@300&display=swap');

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  block-size: 100%;
  inline-size: 100%;
}

section {
  display: flex;
}

body {
  margin: 0;
  background-color: #11151c;
  font-family: 'Noto Sans Kannada', sans-serif;
  animation-name: bg-page;
  animation-duration: 3s;
}

@keyframes bg-page {
  0%{
      opacity: 0;
      
  }
  50%{
      opacity: 0.5;
     
  }
  100%{
      opacity: 1;
  }
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.home-icon img{
  width: 100px;
  padding: 1em;
  position: fixed;
  top: 0;
  right: 0;
}

nav { 
	background-repeat: no-repeat; 
	background-size: cover; 
	margin-top: 0; 
	margin-bottom: 0;  
	top:0; 
	left: 0; 
	width: 100%; 
	background-attachment: fixed; 
	vertical-align: middle;
}

nav a {
	 text-transform: uppercase; 
	 color:#fff; 
	 display: inline-block; 
	 transition: all 0.5s ease; 
	 -moz-transition: all 0.5s ease; 
	 -webkit-transition: all 0.5s ease; 
	 -o-transition: all 0.5s ease; 
	 vertical-align: top; 
	 opacity: 0.8;
}

nav a:hover, nav a:focus { text-decoration: none; color: #fff; transition: 1s; opacity: 1;} 

.pull {
	position: fixed; 
	z-index: 100; 
	vertical-align: text-top;
 }

#top-nav{
transition: 1s;
padding-top: 2vh;
}

#top-nav a::before {
  background: #fff;
}

#top-nav a:hover {
  background: #fff;
}

#logo{
font-size: 20px;
transition: 1s;
display: inline;
}

#title{
 display: inline; 
}

#logo-home{
display: none;
position: fixed;
right: 0;
padding-right: 1em;
}

#logo-blog{
  display: none;
  position: fixed;
  left: 0;
  padding-left: 1em;
}

#logo img {
height: auto;
width: 100px;
padding: 1em;
position: fixed;
top: 0;
right: 0;
}

.menu-sticky{
  position: fixed;
  padding: 1em;
  z-index: 1001;
}

.menu-sticky a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #d9d9d9;
  padding: 5px;
  font-size: 1.5em;
}

.home-link {
  position: sticky;
  display: block;
  padding: 1em;
  top: 0;
  left:0;
}

.menu-links{
  right: 0;
  border-radius: 5px;
  opacity: 0.9;
}

.menu-links a::before , a::after{
  background: #11151c !important;
  color: #fff;
}

.menu-links a:hover {
  color: #fff;
}

.menu-sticky a:hover {
  transition: 0.3s;
  transform: scale(1.2,1.2);
  opacity: 1;
  background-color: #11151c;
}

#select-menu{
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  background: #11151c;
}

a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a::before {
  content: " ";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #ebf2fa;
  z-index: -1;
  transition: transform .3s ease;
}

a { 
  font-family: 'Encode Sans SC', sans-serif;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  color: #11151c;
}

.page-discription::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.page-discription:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-discription::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform .3s ease;
}

.page-discription{
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: #ebf2fa;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

header h2 {
  font-weight: 400;
}

.scroll-container {
  min-height: 100vh;
  padding: 2em 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  color: #fff;
}
.scroll-container:nth-of-type(2) {
  color: #fff;
}
.scroll-container:nth-of-type(3) {
  color: #fff;
}
.scroll-container:nth-of-type(4) {
  color: #fff;
}

.scroll-container:nth-of-type(even) {
  flex-direction: row;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  width: 100%;
  max-width: 900px;
}

.photo-container{
  flex-direction: row;
  align-items: center;
}

.image-full{
  max-width: 100%;
  margin-bottom: 1em;
  align-items: center;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 0.5em 0;
  color: #d9d9d9;
}

footer p {
  font-size: 0.75em;
  margin: 0.25em 0;
}

footer a {
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 650px) {

  .container {
    padding-top: 5vh;
  }

  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
    align-items: center;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}
/**Styling scrollable elements*/

.animate-arrow {
  animation: arrow-down 3s ease 0s infinite normal forwards;
  color: #fff;
  font-size: 2em;
}

@keyframes arrow-down {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}

	100% {
		opacity: 1;
		transform: translateY(50px);
	}
}

.text-content{
  color: #eff1f3;
  padding: 2em;
  margin: 1em;
}

.text-content .image-link::before{
  background: #11151c;
}

.text-content .image-link{
  padding-right: 20px;
  float: left;
}

.text-content .image-link:hover{
  background: #11151c;
}

.rounded-img{  
  width: 15em;
  height: 15em;
  margin-bottom: 1em;
  margin-right: 1em;
  float: left;
  border-radius: 2px;
}

.imdbRatingPlugin{
  background-color: #11151c;
}

.item-title{
  font-weight: 900;
  background-color: #11151c;
}

.js-scroll {
  opacity: 0;
  transition: opacity 1s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 2s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 2s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 2s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 2s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* title  */
.title{
  color: #edf6f9;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  text-transform: uppercase;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 1.5em;
  align-content: flex-start;
  opacity: 0.9;
  z-index: 1000;
}

.title::before,
.title::after {
  color: #edf6f9;
  background: #11151c;
}

.title:hover {
  color: #edf6f9;
  background: #11151c;
  opacity: 1;
}

#top-nav #title::before,
#top-nav #title::after {
  color: #edf6f9;
  background: #11151c;
}

#top-nav #title:hover {
  color: #edf6f9;
  background: #11151c;
  opacity: 1;
}
