@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');


body {
  margin: 0;
  background-color: #11151c;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.home-icon img{
  width: 125px;
}

/* .title{
  color: #fff;
  position: fixed;
  text-transform: uppercase;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 12em;
  align-content: flex-start;
  animation: color-change-5x 10s linear infinite alternate both;
}

@keyframes color-change-5x {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
} */

.menu-sticky{
  position: fixed;
  padding: 1em;
  z-index: 1001;
}

.menu-sticky a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
  font-size: 1.5em;
}

.menu-lable{
  font-size: 0.75em;
  text-transform: uppercase;
}

.home-link {
  position: absolute;
  top: 0;
  left: 0;
}

.up-link{
  background-color: #11151c;
  color: #fff;
  border-radius: 10px;
  bottom: 0;
  right: 0;
}

.menu-links{
  top: 0;
  right: 0;
  background-color: #11151c;
  border-radius: 10px;
}

.social-links{
  background-color: #11151c;
  color: #fff;
  border-radius: 10px;
  bottom: 0;
  left: 0;
}

.menu-sticky a:hover {
  transition: 0.3s;
  color: #00a7e1;
}

#open-menu {
  animation: menu-anim 1s ease 0s 1 normal forwards;
}


#select-menu{
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

@keyframes menu-anim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#open-social {
  animation: social-anim 1s ease 0s 1 normal forwards;
}

#select-social{
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
}

@keyframes social-anim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

a {
  color: #4f6d7a;
  opacity: 0.9;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.page-discription{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  max-width: 200px;
  font-size: 1.2em;
  color: #fff;
}

.page-discription a {
  color: #fff;
}

.pd-journey{
  transition: 0.75s;
  border: dashed #003d5b;
  background-color: #003d5b;
  color: #003d5b;
  transform: rotate(-1deg) translateX(-200px);
  position: sticky;
  top: 0;
  padding: 0.2em;
  border-radius: 5px;
  margin-top: 5em;
}

.pd-journey:hover{
  transition: 0.5s;
  transform: rotate(0deg) scale(1.1,1.1) translateX(-180px);
  box-shadow: 1px 1px 100px 1000px #003d5b;
  opacity: 0.9;
  z-index: 10000;
}

.pd-writing{
  transition: 0.5s;
  border: dashed #d1495b;
  background-color: #d1495b;
  color: #fff;
  transform: rotate(1deg) translateX(200px);
  position: sticky;
  top: 0;
  padding: 0.2em;
  border-radius: 5px;
}

.pd-writing:hover{
  transition: 0.75s;
  transform: rotate(0deg) scale(1.1,1.1) translateX(180px);
  box-shadow: 1px 1px 100px 1000px #d1495b;
  opacity: 0.9;
  z-index: 10000;
}

.pd-movie{
  transition: 0.5s;
  border: dashed #00798c;
  background-color: #00798c;
  color: #fff;
  transform: rotate(-2deg) translateX(-100px);
  position: sticky;
  top: 0;
  padding: 0.2em;
  border-radius: 5px;
}

.pd-movie:hover{
  transition: 0.75s;
  transform: rotate(0deg) scale(1.1,1.1) translateX(-80px);
  box-shadow: 1px 1px 100px 1000px #00798c;
  opacity: 0.9;
  z-index: 10000;
}

.pd-book{
  transition: 0.5s;
  border: dashed #30638e;
  background-color: #30638e;
  color: #fff;
  transform: rotate(2deg) translateX(100px);
  position: sticky;
  top: 0;
  padding: 0.2em;
  border-radius: 5px;
}

.pd-book:hover{
  transition: 0.75s;
  transform: rotate(0deg) scale(1.1,1.1) translateX(80px);
  box-shadow: 1px 1px 100px 1000px #30638e;
  opacity: 0.9;
  z-index: 10000;
}

.headline-1 {
  text-align: center;
  transform: rotate(5deg);
  background-color: #fff;
  color: #003d5b;
  border-radius: 2px;
}

.headline-2 {
  text-align: center;
  transform: rotate(-5deg);
  background-color: #fff;
  color: #30638e;
  border-radius: 2px;
}

.headline-3 {
  text-align: center;
  transform: rotate(5deg);
  background-color: #fff;
  color: #00798c;
  border-radius: 2px;
}

.headline-4 {
  text-align: center;
  transform: rotate(-5deg);
  background-color: #fff;
  color: #d1495b;
  border-radius: 2px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  height: 100vh;
}

header h2 {
  font-weight: 400;
}

.scroll-container {
  min-height: 100vh;
  padding: 2em 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  background-color: #003d5b;
  color: #fff;
}
.scroll-container:nth-of-type(2) {
  background-color: #30638e;
  color: #fff;
}
.scroll-container:nth-of-type(3) {
  background-color: #00798c;
  color: #fff;
}
.scroll-container:nth-of-type(4) {
  background-color: #d1495b;
  color: #fff;
}

.scroll-container:nth-of-type(even) {
  flex-direction: row;
}

.scroll-element,
.scroll-caption {
  width: 25%;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  width: 75%;
  border-radius: 5px;
}

.photo-container{
  flex-direction: row;
  align-items: center;
}

.image-full{
  max-width: 100%;
  margin-bottom: 1em;
  align-items: center;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 0.5em 0;
  background-color: #fff;
}

footer p {
  font-size: 0.75em;
  margin: 0.25em 0;
  color: #221133;
}

footer a {
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 650px) {

  .container {
    padding-top: 5vh;
  }

  .title{
    transition: 1s ease-in-out;
    font-size: 8em;
  }

  .home-icon img{
    transition: 0.5s;
    width: 100px;
  }

  .headline-1 { 
    transform: rotate(0deg);
  }
  .headline-2 { 
    transform: rotate(0deg);
  }
  .headline-3 { 
    transform: rotate(0deg);
  }
  .headline-4 { 
    transform: rotate(0deg);
  }

  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
    align-items: center;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }

  .pd-journey{
    transform: rotate(-3deg) translateX(0);
  }
  
  .pd-journey:hover{
    transform: scale(1,1);
  }
  
  .pd-writing{
    transform: rotate(3deg) translateX(0);
  }
  
  .pd-writing:hover{
    transform: scale(1,1);
  }
  
  .pd-movie{
    transform: rotate(-3deg) translateX(0);
  }
  
  .pd-movie:hover{
    transform: scale(1,1);
  }
  
  .pd-book{
    transform: rotate(3deg) translateX(0);
  }
  
  .pd-book:hover{
    transform: scale(1,1);
  }

}
/**Styling scrollable elements*/

.animate-arrow {
  animation: arrow-down 3s ease 0s infinite normal forwards;
  color: #fff;
  font-size: 2em;
}

@keyframes arrow-down {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}

	100% {
		opacity: 1;
		transform: translateY(50px);
	}
}

.text-content{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #221133;
  background-color: #fff;
  padding: 2em;
  margin: 1em;
  border-radius: 5px;
}

.p-description{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.rounded-img{  
  width: 15em;
  height: 15em;
  margin: 0.5em;
  border-radius: 5px;
}

.item-title{
  line-height: 0.75em;
}

.js-scroll {
  opacity: 0;
  transition: opacity 1s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 2s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 2s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 2s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 2s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* title  */
.title{
  color: #fff;
  position: fixed;
  text-transform: uppercase;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 12em;
  align-content: flex-start;
  animation: shake 2.5s linear forwards;
}


.title span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
          clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.title::before,
.title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.title::before {
  animation: crack1 2.5s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.title::after {
  animation: crack2 2.5s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
          clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
      filter: blur(0.018em);
      transform: translateY(0.018em) rotate(0deg);
  }

  10%, 30%, 40%, 50%, 70%, 80%, 90% {
      filter: blur(0.01em);
      transform: translateY(-0.018em) rotate(0deg);
  }

  20%, 60% {
      filter: blur(0.03em);
      transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%, 85% {
      filter: blur(0.03em);
      transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
      filter: blur(0.007em);
      transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%, 95% {
      transform: translate(-50%, -50%);
  }

  100% {
      transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%, 95% {
      transform: translate(-50%, -50%);
  }

  100% {
      transform: translate(-49%, -53%);
  }
}